<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <style>
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      background-color: #007bff;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }
    .button:hover {
      background-color: #0056b3;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<div class="container">
  <th:block th:each="msg : ${messages}">
    <h1 th:text="${msg}"></h1>
  </th:block>

  <a href="/users" class="button">Перейти к пользователям</a>
</div>
</body>
</html>
